DASHBOARD_PASSWORD=

# Microsoft Entra app for a personal OneDrive account.
# Required delegated permissions: Files.ReadWrite, User.Read, offline_access.
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REFRESH_TOKEN=
ONEDRIVE_WORKBOOK_SHARE_URL=https://1drv.ms/x/...
